<h3>By Region</h3>
<hr>

<h5>Select the region</h5>

<div class="row">
    <div class="col">
        <button 
            *ngFor="let region of regions"
            [class]="getClassCSS( region )"
            (click)="activatedRegion( region )"    
        >
            {{ region | titlecase }}
        </button>
    </div>
    <div 
        *ngIf="countries.length > 0" 
        class="row mt-4"
    >
        <div class="col">
            <app-table [countries]="countries"></app-table>
        </div>
    </div>
</div>